* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#contenedotexto {
    position: relative;
}


#iconos {
    position: absolute;
    padding: 0.30% 0.35% ;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 0,
        'opsz' 24
}

body {
    width: 100%;
    font-size: 20px;
    background-image: url("../img/back.jpg");
    background-size: cover;
    font-family: "Krub", sans-serif;
    margin-top: 7rem;
}

form {
    width: 40%;
    margin: 0 auto;
    background-color: rgba(188, 230, 230, 0.7);
    border-radius: 30px;
 
}

#principal {
    text-align: center;

}

#txts{
    margin: 0 auto;
    width: 70%;
}

input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    padding-left: 35px;
}

#botones {
    width: 70%;
    border-radius: 5px;
    margin: 0 auto;
}

button {
    width: 40%;
    height: 30px;
    background-color: #76b0ab;
    color: white;
    font-size: 17px;
    border: 0;
    border-radius: 15px;
}

#registrarse {
    color: #808080b2;
    font-size: 17px;
    text-decoration: none;
}

form.validado input:invalid, .novalido{
    border-color: red;
}

form.validado input:valid, .valido{
    border-color: green;
}

form.validado input:invalid + div,
.novalido + div{
    display: block;
    color: red;
}

form.validado input:valid + div,
.valido + div{
    display: none;
}

form div div div{
    display: none;
}

.msg{
    font-size: 15px;
    
}

